{{ if or .Values.plexdebrid.enabled .Values.plexdebridplus.enabled .Values.plexdebridhobbit.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-plex-debrid.{{ .Values.dns_domain }}
spec:
  routes:
    - match: Host(`{{ .Release.Name }}-plex-debrid.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: plex-debrid
          kind: Service
          port: 3001
      middlewares:
        - name: {{ .Release.Name }}-traefik-forward-auth
{{ end }}