{{ if .Values.wallabag.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-wallabag.{{ .Values.dns_domain }}
spec:
  routes:
    - match: Host(`{{ .Release.Name }}-wallabag.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: wallabag
          kind: Service
          port: 8000
      middlewares:  
        - name: error-pages
          namespace: traefik
{{ end }}