{{ if .Values.rdebridui.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-rdebrid-ui.{{ .Values.dns_domain }}
spec:
  entryPoints:
  - websecure
  - web
  routes:
    - match: Host(`{{ .Release.Name }}-rdebrid-ui.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: rdebrid-ui
          kind: Service
          port: 8080
      middlewares:
        - name: {{ .Release.Name }}-traefik-forward-auth
{{ end }}