{{ if .Values.pairdrop.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-pairdrop.{{ .Values.dns_domain }}
spec:
  routes:
    - match: Host(`{{ .Release.Name }}-pairdrop.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: pairdrop
          kind: Service
          port: 3000
{{ end }}