{{ if or .Values.sonarr4k.enabled .Values.sonarr4kplus.enabled .Values.sonarr4khobbit.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-sonarr4k.{{ .Values.dns_domain }}
spec:
  routes:
    - match: Host(`{{ .Release.Name }}-sonarr4k.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: sonarr4k
          kind: Service
          port: 8989
      middlewares:
        - name: {{ .Release.Name }}-traefik-forward-auth
        - name: {{ .Release.Name }}-add-cors-for-homer
        - name: error-pages
          namespace: traefik
    {{ if .Values.sonarr4kexposed.enabled }}
    - match: Host(`{{ .Release.Name }}-sonarr4k.{{ .Values.dns_domain }}`) && PathPrefix(`/api/`)
      kind: Rule
      services:
        - name: sonarr4k
          kind: Service
          port: 8989
      middlewares:
        - name: {{ .Release.Name }}-add-cors-for-homer
    {{ end }}
{{ end }}