{{ if or .Values.jellyfin.enabled .Values.jellyfinranger.enabled .Values.jellyfinhobbit.enabled .Values.jellyfinhalfling.enabled .Values.jellyfinnazgul.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-jellyfin.{{ .Values.dns_domain }}
spec:
  routes:
    - match: Host(`{{ .Release.Name }}-jellyfin.{{ .Values.dns_domain }}`) && Path(`/System/Info/Public`)
      kind: Rule
      services:
        - name: jellyfin
          kind: Service
          port: 8088 # jellyfixer
      middlewares:
        - name: error-pages
          namespace: traefik  
    - match: Host(`{{ .Release.Name }}-jellyfin.{{ .Values.dns_domain }}`) && PathPrefix(`/speed`)
      kind: Rule
      services:
        - name: jellyfin
          kind: Service
          port: 3000 # openspeedtest
      middlewares:
        - name: stripprefix-speed
          namespace: traefik
        - name: buffer-2gb
          namespace: traefik          
    - match: Host(`{{ .Release.Name }}-jellyfin.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: jellyfin
          kind: Service
          port: 8096
      middlewares:
        - name: error-pages
          namespace: traefik
{{ end }}