{{ if .Values.stremiojackett.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-stremio-jackett.{{ .Values.dns_domain }}
spec:
  routes:
    - match: Host(`{{ .Release.Name }}-stremio-jackett.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: stremio-jackett
          kind: Service
          port: 3000
      middlewares:
        - name: error-pages
          namespace: traefik
    - match: Host(`{{ .Release.Name }}-stremio-jackett.{{ .Values.dns_domain }}`) && PathPrefix(`/configure/`)
      kind: Rule
      services:
        - name: stremio-jackett
          kind: Service
          port: 3000
      middlewares:
        - name: {{ .Release.Name }}-traefik-forward-auth
        - name: error-pages
          namespace: traefik
{{ end }}