{{ if .Values.rdtclientalldebrid.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-rdtclient-alldebrid.{{ .Values.dns_domain }}
spec:
  routes:
    - match: Host(`{{ .Release.Name }}-rdtclient-alldebrid.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: rdtclient-alldebrid
          kind: Service
          port: 6500
      middlewares:  
        - name: {{ .Release.Name }}-traefik-forward-auth
        - name: error-pages
          namespace: traefik
{{ end }}