{{ if .Values.webdavplus.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-webdav-plus.{{ .Values.dns_domain }}
spec:
  routes:
    - match: Host(`{{ .Release.Name }}-webdav-plus.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: webdav-plus
          kind: Service
          port: 5574
{{ end }}