{{ if .Values.joplinserver.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-joplin-server.{{ .Values.dns_domain }}
spec:
  routes:
    - match: Host(`{{ .Release.Name }}-joplin-server.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: joplinserver
          kind: Service
          port: 22300
      middlewares:
        - name: error-pages
          namespace: traefik
{{ end }}