{{ if .Values.plexdebridalldebrid.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-plex-debrid-alldebrid.{{ .Values.dns_domain }}
spec:
  routes:
    - match: Host(`{{ .Release.Name }}-plex-debrid-alldebrid.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: plex-debrid-alldebrid
          kind: Service
          port: 3001
      middlewares:
        - name: {{ .Release.Name }}-traefik-forward-auth
{{ end }}