{{ if .Values.wizarr.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-wizarr.{{ .Values.dns_domain }}
spec:
  entryPoints:
  - websecure
  routes:
    # No auth required for public paths
    - match: Host(`{{ .Release.Name }}-wizarr.{{ .Values.dns_domain }}`) && (PathPrefix(`/join/`) || PathPrefix(`/j/`) || PathPrefix(`/setup/`) || PathPrefix(`/static/`))
      kind: Rule
      services:
        - name: wizarr
          kind: Service
          port: 5690
      middlewares:  
        - name: error-pages
          namespace: traefik
    - match: Host(`{{ .Release.Name }}-wizarr.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: wizarr
          kind: Service
          port: 5690
      middlewares:
        - name: {{ .Release.Name }}-traefik-forward-auth
        - name: error-pages
          namespace: traefik          
{{ end }}