{{ if or .Values.emby.enabled .Values.embyplus.enabled .Values.embyhobbit.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-emby.{{ .Values.dns_domain }}
spec:
  routes:
    - match: Host(`{{ .Release.Name }}-emby.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: emby
          kind: Service
          port: 8096
    - match: Host(`{{ .Release.Name }}-emby.{{ .Values.dns_domain }}`) && PathPrefix(`/speed`)
      kind: Rule
      services:
        - name: emby
          kind: Service
          port: 3000 # openspeedtest
      middlewares:
        - name: stripprefix-speed
          namespace: traefik
        - name: buffer-2gb
          namespace: traefik          
{{ end }}