{{ if .Values.jellyseerr.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-jellyseerr.{{ .Values.dns_domain }}
spec:
  routes:
    - match: Host(`{{ .Release.Name }}-jellyseerr.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: jellyseerr
          kind: Service
          port: 5055
    - match: Host(`{{ .Release.Name }}-jellyseerr.{{ .Values.dns_domain }}`) && PathPrefix(`/logo_`)
      kind: Rule
      services:
        - name: jellyseerr
          kind: Service
          port: 8080
{{ end }}