{{ if .Values.rclonemountalldebridpia.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-alldebrid.{{ .Values.dns_domain }}
spec:
  routes:
    - match: Host(`{{ .Release.Name }}-alldebrid.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: alldebrid-webdav
          kind: Service
          port: 9999
      middlewares:  
        - name: {{ .Release.Name }}-traefik-forward-auth
{{ end }}