{{ if .Values.decluttarr.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-decluttarr4k.{{ .Values.dns_domain }}
spec:
  entryPoints:
  - websecure
  - web
  routes:
    - match: Host(`{{ .Release.Name }}-decluttarr4k.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: decluttarr4k
          kind: Service
          port: 3001
      middlewares:
        - name: {{ .Release.Name }}-traefik-forward-auth
{{ end }}