{{ if or .Values.sonarr.enabled .Values.sonarrplus.enabled .Values.sonarrhobbit.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-sonarr.{{ .Values.dns_domain }}
spec:
  routes:
    - match: Host(`{{ .Release.Name }}-sonarr.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: sonarr
          kind: Service
          port: 8989
      middlewares:
        - name: {{ .Release.Name }}-traefik-forward-auth
        - name: {{ .Release.Name }}-add-cors-for-homer
        - name: error-pages
          namespace: traefik
    {{ if .Values.sonarrexposed.enabled }}
    - match: Host(`{{ .Release.Name }}-sonarr.{{ .Values.dns_domain }}`) && PathPrefix(`/api/`)
      kind: Rule
      services:
        - name: sonarr
          kind: Service
          port: 8989
      middlewares:
        - name: {{ .Release.Name }}-add-cors-for-homer
    {{ end }}
{{ end }}