{{ if or .Values.qbittorrentgluetun.enabled .Values.qbittorrentpia.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-qbittorrent.{{ .Values.dns_domain }}
spec:
  routes:
{{ if .Values.qbittorrentgluetun.enabled }}
    - match: Host(`{{ .Release.Name }}-qbittorrent.{{ .Values.dns_domain }}`) && PathPrefix(`/gluetun/`)
      kind: Rule
      services:
        - name: qbittorrent
          kind: Service
          port: 8000 # gluetun admin ui
      middlewares:
        - name: {{ .Release.Name }}-add-cors-for-homer
        - name: {{ .Release.Name }}-traefik-forward-auth
        - name: stripprefix-gluetun
          namespace: traefik
        - name: error-pages
          namespace: traefik
{{ end }}
    - match: Host(`{{ .Release.Name }}-qbittorrent.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: qbittorrent
          kind: Service
          port: 8080
      middlewares:
        - name: {{ .Release.Name }}-traefik-forward-auth
        - name: {{ .Release.Name }}-add-cors-for-homer
        - name: error-pages
          namespace: traefik
    {{ if .Values.qbittorrentexposed.enabled }}
    - match: Host(`{{ .Release.Name }}-qbittorrent.{{ .Values.dns_domain }}`) && PathPrefix(`/api/`)
      kind: Rule
      services:
        - name: qbittorrent
          kind: Service
          port: 8080
      middlewares:
        - name: {{ .Release.Name }}-add-cors-for-homer
    {{ end }}          
{{ end }}