{{ if or .Values.kometa.enabled .Values.kometaplus.enabled .Values.kometahobbit.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-kometa.{{ .Values.dns_domain }}
spec:
  entryPoints:
  - websecure
  - web
  routes:
    - match: Host(`{{ .Release.Name }}-kometa.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: kometa
          kind: Service
          port: 3001
      middlewares:
        - name: {{ .Release.Name }}-traefik-forward-auth
{{ end }}