apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-health.{{ .Values.dns_domain }}
spec:
  entryPoints:
  - websecure
  - web
  routes:
    - match: Host(`{{ .Release.Name }}-health.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: gatus
          kind: Service
          port: 8081
      middlewares:
        - name: {{ .Release.Name }}-traefik-forward-auth
        - name: error-pages
          namespace: traefik
    - match: Host(`{{ .Release.Name }}-health.{{ .Values.dns_domain }}`) && PathPrefix(`/api/`) 
      kind: Rule
      services:
        - name: gatus
          kind: Service
          port: 8081