{{ if .Values.cinesync.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-cinesync.{{ .Values.dns_domain }}
spec:
  entryPoints:
  - websecure
  routes:
    - match: Host(`{{ .Release.Name }}-cinesync.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: cinesync
          kind: Service
          port: 5175
      middlewares:
        - name: {{ .Release.Name }}-traefik-forward-auth
{{ end }}