{{ if .Values.filebrowser.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-elfterm.{{ .Values.dns_domain }}
spec:
  routes:
    - match: Host(`{{ .Release.Name }}-elfterm.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: elfterm
          kind: Service
          port: 3001
      middlewares:
        - name: {{ .Release.Name }}-traefik-forward-auth
        - name: error-pages
          namespace: traefik
{{ end }}