{{ if .Values.filebot.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-filebot.{{ .Values.dns_domain }}
spec:
  routes:
    - match: Host(`{{ .Release.Name }}-filebot.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: filebot
          kind: Service
          port: 5452
      middlewares:
        - name: {{ .Release.Name }}-traefik-forward-auth 
        - name: error-pages
          namespace: traefik        
    - match: Host(`{{ .Release.Name }}-filebot.{{ .Values.dns_domain }}`) && PathPrefix(`/task`)
      kind: Rule
      services:
        - name: filebot
          kind: Service
          port: 5452
      middlewares:
        - name: {{ .Release.Name }}-traefik-forward-auth
        - name: error-pages
          namespace: traefik
{{ end }}