{{ if .Values.calibre.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-calibre.{{ .Values.dns_domain }}
spec:
  routes:
    - match: Host(`{{ .Release.Name }}-calibre.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: calibre
          kind: Service
          port: 8080
      middlewares:
        - name: {{ .Release.Name }}-traefik-forward-auth          
        - name: error-pages
          namespace: traefik        
{{ end }}