apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-kubernetes.{{ .Values.dns_domain }}
spec:
  routes:
    - match: Host(`{{ .Release.Name }}-kubernetes.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: kubernetes-dashboard
          kind: Service
          port: 9090
      middlewares:
        - name: {{ .Release.Name }}-traefik-forward-auth