{{ if .Values.miniflux.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-miniflux.{{ .Values.dns_domain }}
spec:
  routes:
    - match: Host(`{{ .Release.Name }}-miniflux.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: miniflux
          kind: Service
          port: 8080
      middlewares:
        - name: error-pages
          namespace: traefik
{{ end }}