{{ if .Values.doplarr.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-doplarr.{{ .Values.dns_domain }}
spec:
  routes:
    - match: Host(`{{ .Release.Name }}-doplarr.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: doplarr
          kind: Service
          port: 3001
      middlewares:  
        - name: error-pages
          namespace: traefik
{{ end }}