{{ if .Values.ersatztv.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-ersatztv.{{ .Values.dns_domain }}
spec:
  routes:
    - match: Host(`{{ .Release.Name }}-ersatztv.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: ersatztv
          kind: Service
          port: 8409
      middlewares:
        - name: error-pages
          namespace: traefik
{{ end }}