{{ if .Values.kapowarr.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-kapowarr.{{ .Values.dns_domain }}
spec:
  routes:
    - match: Host(`{{ .Release.Name }}-kapowarr.{{ .Values.dns_domain }}`)
      kind: Rule
      services:
        - name: kapowarr
          kind: Service
          port: 5656
      middlewares:
        - name: {{ .Release.Name }}-traefik-forward-auth
        - name: error-pages
          namespace: traefik
{{ end }}