# This job is intended to start upon first installation, "anchoring" all of the replicationdestination restores to the desired node
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Release.Name }}-nodefinder-deleter-v7
  annotations:
    helm.sh/hook: post-install,post-upgrade # Run after the rollout is done 
  labels:
    app.elfhosted.com/name: nodefinder-deleter  
spec:
  ttlSecondsAfterFinished: 60  # Cleanup after 60 seconds
  backoffLimit: 3  # Number of retries before considering the job as failed
  template:
    metadata:
      labels:
        app.elfhosted.com/name: nodefinder-deleter
    spec:
      automountServiceAccountToken: true
      serviceAccountName: nodefinder-deleter
      restartPolicy: OnFailure  # Restart only if the job fails
      containers:
      - name: "delete-nodefinder"
        image: ghcr.io/elfhosted/tooling:focal-20240530@sha256:458d1f3b54e9455b5cdad3c341d6853a6fdd75ac3f1120931ca3c09ac4b588de
        command:
        - /bin/bash
        - -c
        - |
          set -x
          set -e

          # If deployment exists, then wait 10 min and delete it
          if kubectl get deployment {{ .Release.Name }}-nodefinder
          then
            sleep 10m
            kubectl delete deployment {{ .Release.Name }}-nodefinder
          fi
