{{- if .Values.jellyfincustomdomain.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Values.jellyfincustomdomain.cname | lower }}
spec:
  routes:
    - match: Host(`{{ .Values.jellyfincustomdomain.cname | lower }}`)
      kind: Rule
      services:
        - name: jellyfin
          kind: Service
          port: 8096
  tls:
    secretName: cert-{{ .Values.jellyfincustomdomain.cname | lower }}
{{ end }}