{{- if .Values.pairdropcustomdomain.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Values.pairdropcustomdomain.cname | lower }}
spec:
  routes:
    - match: Host(`{{ .Values.pairdropcustomdomain.cname | lower }}`)
      kind: Rule
      services:
        - name: pairdrop
          kind: Service
          port: 3000
  tls:
    secretName: cert-{{ .Values.pairdropcustomdomain.cname | lower }}
{{ end }}