{{- if .Values.jellyseerrcustomdomain.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Values.jellyseerrcustomdomain.cname | lower }}
spec:
  routes:
    - match: Host(`{{ .Values.jellyseerrcustomdomain.cname | lower }}`)
      kind: Rule
      services:
        - name: jellyseerr
          kind: Service
          port: 5055
      middlewares:
        - name: error-pages
          namespace: traefik
    - match: Host(`{{ .Values.jellyseerrcustomdomain.cname | lower }}`) && PathPrefix(`/logo_`)
      kind: Rule
      services:
        - name: jellyseerr
          kind: Service
          port: 8080
  tls:
    secretName: cert-{{ .Values.jellyseerrcustomdomain.cname | lower }}
{{ end }}