{{ if or .Values.emby.enabled .Values.embyplus.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: emby
  labels:
    app.elfhosted.com/name: emby
    app.kubernetes.io/instance: {{ .Release.Name }}
  annotations:
spec:
  type: ClusterIP
  ports:
  - port: 8096
    targetPort: 8096
    protocol: TCP
    name: http
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: speedtest    
  selector:
    app.elfhosted.com/name: emby
    app.kubernetes.io/instance: {{ .Release.Name }}
{{ end }}    