{{ if .Values.petio.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: petio
  labels:
    app.kubernetes.io/name: petio
    app.kubernetes.io/instance: {{ .Release.Name }}
  annotations:
spec:
  type: ClusterIP
  ports:
  - port: 7777
    targetPort: 7777
    protocol: TCP
    name: http
  selector:
    app.kubernetes.io/name: petio
    app.kubernetes.io/instance: {{ .Release.Name }}
{{ end }}