{{ if or .Values.sonarr.enabled .Values.sonarrplus.enabled .Values.sonarrhobbit.enabled  }}
apiVersion: v1
kind: Service
metadata:
  name: sonarr
  labels:
    app.elfhosted.com/name: sonarr
    app.kubernetes.io/instance: {{ .Release.Name }}
  annotations:
spec:
  type: ClusterIP
  ports:
  - port: 8989
    targetPort: 8989
    protocol: TCP
    name: http
  selector:
    app.elfhosted.com/name: sonarr
    app.kubernetes.io/instance: {{ .Release.Name }}
{{ end }}