{{ if or .Values.zurg.enabled .Values.zurggluetun.enabled .Values.zurgplus.enabled .Values.zurghobbit.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: zurg
  labels:
    app.kubernetes.io/name: zurg
    app.kubernetes.io/instance: {{ .Release.Name }}
  annotations:
spec:
  type: ClusterIP
  ports:
  - port: 9999
    targetPort: 9999
    protocol: TCP
    name: http
  selector:
    app.elfhosted.com/name: zurg
    app.kubernetes.io/instance: {{ .Release.Name }}
{{ end }}