apiVersion: v1
kind: Service
metadata:
  name: elfterm
  labels:
    app.kubernetes.io/name: elfterm
    app.kubernetes.io/instance: {{ .Release.Name }}
  annotations:
spec:
  type: ClusterIP
  ports:
  - port: 3001
    targetPort: 3001
    protocol: TCP
    name: http
  selector:
    app.kubernetes.io/name: filebrowser
    app.kubernetes.io/instance: {{ .Release.Name }}