{{ if .Values.seerrbridge.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: seerrbridge
  labels:
    app.kubernetes.io/name: seerrbridge
    app.kubernetes.io/instance: {{ .Release.Name }}
  annotations:
spec:
  type: ClusterIP
  ports:
  - port: 3001
    targetPort: 3001
    protocol: TCP
    name: ttyd
  - port: 8777
    targetPort: 8777
    protocol: TCP
    name: seerrbridge
  - port: 3777
    targetPort: 3777
    protocol: TCP
    name: bridgeboard
  selector:
    app.kubernetes.io/name: seerrbridge
    app.kubernetes.io/instance: {{ .Release.Name }}
{{ end }}