apiVersion: v1
kind: Service
metadata:
  name: gatus
  labels:
    app.kubernetes.io/name: gatus
    app.kubernetes.io/instance: {{ .Release.Name }}
  annotations:
spec:
  type: ClusterIP
  ports:
  - port: 8081
    targetPort: 8081
    protocol: TCP
    name: gatus
  selector:
    app.kubernetes.io/name: homer
    app.kubernetes.io/instance: {{ .Release.Name }}