{{ if or .Values.sonarr4k.enabled .Values.sonarr4kplus.enabled .Values.sonarr4khobbit.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: sonarr4k
  labels:
    app.elfhosted.com/name: sonarr4k
    app.kubernetes.io/instance: {{ .Release.Name }}
  annotations:
spec:
  type: ClusterIP
  ports:
  - port: 8989
    targetPort: 8989
    protocol: TCP
    name: http
  selector:
    app.elfhosted.com/name: sonarr4k
    app.kubernetes.io/instance: {{ .Release.Name }}
{{ end }}