{{ if or .Values.plex.enabled .Values.plexranger.enabled .Values.plexhobbit.enabled .Values.plexhalfling.enabled .Values.plexnazgul.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: plex
  labels:
    app.kubernetes.io/name: plex
    app.kubernetes.io/instance: {{ .Release.Name }}
  annotations:
spec:
  type: ClusterIP
  ports:
  - port: 32400
    targetPort: 32400
    protocol: TCP
    name: http
  - port: 3002
    targetPort: 3002
    protocol: TCP
    name: speedtest
  selector:
    app.elfhosted.com/name: plex
    app.kubernetes.io/instance: {{ .Release.Name }}
{{ end }}