{{ if .Values.sonarr.enabled }} 
apiVersion: v1
kind: ConfigMap
metadata:
  name: sonarr-env
data:
  # Overwrite API key with default
  SONARR__API_KEY: "{{ .Values.sonarrexposed.apikey }}"
  scannarr-settings_sonarr.json: |
    {
      "URL": "http://localhost:8989",
      "Interval": 120,
      "ScanOnWake": true,
      "ScanOnInterval": false,
      "ScanOnStart": true,  
      "ForceImport": false,
      "ForceImportInterval": 1,
      "ForceImportMode": "Copy",
      "APIKey": "{{ .Values.sonarrexposed.apikey }}"
    }
  
  # Use for migration to postgres
  PGPASSWORD: sonarr
  PGUSER: sonarr
  PGDATABASE: postgres
  PGHOST: localhost  
  SONARR__POSTGRES_USER: sonarr
  SONARR__POSTGRES_PASSWORD: sonarr
  SONARR__POSTGRES_PORT: "5432"
  SONARR__POSTGRES_HOST: localhost
  SONARR__POSTGRES_MAIN_DB: sonarr_main
  SONARR__POSTGRES_LOG_DB: sonarr_logs

  # Used for Huntarr-Sonarr
  API_KEY: "{{ .Values.sonarrexposed.apikey }}"
  API_URL: http://sonarr:8989
  HUNT_MISSING_SHOWS: "0" # disabled by default for now
  HUNT_UPGRADE_EPISODES: "0" # disabled by default for now

  # Enable ffprobe shim by default now
  USE_FFPROBE_SHIM: "true"

  # Use Postgresql
  USE_POSTGRESQL: "true"
# 
{{ end }}
