{{ if .Values.decypharr.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: decypharr-example-config
data:
  config.json: |
    {
      "debrids": [
        {
          "name": "realdebrid",
          "host": "https://api.real-debrid.com/rest/1.0",
          "api_key": "realdebrid_key",
          "folder": "/storage/realdebrid-zurg/__all__/",
          "rate_limit": "250/minute",
          "download_uncached": false,
          "check_cached": false
        }
      ],
      "proxy": {
        "enabled": false
      },
      "max_cache_size": 1000,
      "qbittorrent": {
        "port": "8282",
        "download_folder": "/storage/symlinks/downloads",
        "categories": ["sonarr", "sonarr4", "radarr", "radarr4k", "lidarr", "readarr", "readarraudio"],
        "refresh_interval": 5
      },
      "arrs": [
        {
          "name": "sonarr",
          "host": "http://sonarr:8989",
          "token": "{{ .Values.sonarrexposed.apikey }}",
          "cleanup": true,
          "skip_repair": true,
          "download_uncached": false
        },
        {
          "name": "sonarr4k",
          "host": "http://sonarr4k:8989",
          "token": "{{ .Values.sonarr4kexposed.apikey }}",
          "cleanup": true,
          "skip_repair": true,
          "download_uncached": false
        },
        {
          "name": "radarr",
          "host": "http://radarr:7878",
          "token": "{{ .Values.radarrexposed.apikey }}",
          "cleanup": false,
          "download_uncached": false
        },
        {
          "name": "radarr4k",
          "host": "http://radarr4k:7878",
          "token": "{{ .Values.radarr4kexposed.apikey }}",
          "cleanup": false,
          "download_uncached": false
        },
        {
          "name": "lidarr",
          "host": "http://lidarr:8686",
          "token": "{{ .Values.lidarrexposed.apikey }}",
          "cleanup": false,
          "skip_repair": true,
          "download_uncached": false
        },
        {
          "name": "readarr",
          "host": "http://readarr:8787",
          "token": "{{ .Values.readarrexposed.apikey }}",
          "cleanup": false,
          "skip_repair": true,
          "download_uncached": false
        },
        {
          "name": "readarraudio",
          "host": "http://readarraudio:8787",
          "token": "{{ .Values.readarrexposed.apikey }}",
          "cleanup": false,
          "skip_repair": true,
          "download_uncached": false
        },
        {
          "name": "prowlarr",
          "host": "http://prowlarr:9696",
          "token": "{{ .Values.prowlarrexposed.apikey }}",
          "cleanup": false,
          "skip_repair": true,
          "download_uncached": false
        },       
        {
          "name": "audiobookrequests",
          "download_uncached": true
        },
        {
          "name": "audiobookbay-automated",
          "download_uncached": true
        }                        
      ],
      "repair": {
        "enabled": false,
        "interval": "12h",
        "run_on_start": false,
        "zurg_url": "http://zurg:9999",
        "auto_process": false
      },
      "log_level": "info",
      "min_file_size": "",
      "max_file_size": "",
      "allowed_file_types": [],
      "use_auth": false
    }
{{ end }}