{{ if .Values.pulsarr.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: pulsarr-env
data:
  baseUrl: http://pulsarr:3003
  logLevel: info
  sonarrBaseUrl: http://sonarr4k:8989
  sonarrApiKey: {{ .Values.sonarr4kexposed.apikey }}
  radarrBaseUrl: http://radarr4k:7878
  radarrApiKey: {{ .Values.radarr4kexposed.apikey }}
  NODE_ARGS: --log-both
  TZ: UTC
  appriseUrl: http://localhost:8000
  authenticationMethod: disabled
{{ end }}