{{ if .Values.mediaflowproxy.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: mediaflow-proxy-env
data:
  API_PASSWORD: "{{ .Values.mediaflowproxy.API_PASSWORD | default }}"
  PROXY_URL: http://tinyproxy:8888 # proxy via dedicated tinyproxy instance
  TRANSPORT_ROUTES: |
    {
      "https://*.alldebrid.com": {
          "proxy": true
      },
      "https://*.debrid.it": {
          "proxy": true
      },
      "https://*.iosplayer.ru": {
          "proxy": true
      },
      "https://*.mizhls.ru": {
          "proxy": true
      }
    }
{{ end }}