{{ if or .Values.plex.enabled .Values.plexhobbit.enabled .Values.plexranger.enabled .Values.plexhalfling.enabled .Values.plexnazgul.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: plex-tinyproxy-conf
data:
  tinyproxy.conf: |
    Port 8888
    Listen 0.0.0.0
    # Allow all connections
    Allow 0.0.0.0/0
    Timeout 600
    DisableViaHeader yes
    ReversePath "/" "http://localhost:32400/"
    # ReverseBaseURL "https://{{ .Release.Name }}-plex.{{ .Values.dns_domain }}"
    # ReverseMagic Yes
    ReverseOnly Yes
    # Anonymous "Host"
    # Anonymous "Authorization"
    # Anonymous "Cookie"
    # Anonymous "X-Forwarded-Proto"
{{ end }}