{{ if .Values.stremthru.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: stremthru-env
data:
  STREMTHRU_LANDING_PAGE: |
     {"description": "Welcome, {{ .Release.Name }}, to your StremThru instance!", "sections": []}
  STREMTHRU_DATABASE_URI: sqlite:///config/stremthru.db
  STREMTHRU_STORE_TUNNEL: '*:false,realdebrid:api,alldebrid:true'
  {{ if .Values.vpnproxy.enabled }}  
  STREMTHRU_HTTP_PROXY: http://vpnproxy:8888
  STREMTHRU_HTTPS_PROXY: http://vpnproxy:8888
  {{ else if .Values.rclonealldebrid.enabled }}
  STREMTHRU_HTTP_PROXY: http://alldebrid:8888
  STREMTHRU_HTTPS_PROXY: http://alldebrid:8888
  {{ else }}
  STREMTHRU_HTTP_PROXY: http://tinyproxy.stremthru:8888
  STREMTHRU_HTTPS_PROXY: http://tinyproxy.stremthru:8888
  {{ end }}
  STREMTHRU_FEATURE: -dmm_hashlist # don't bother importing DMM hashlist on private instances, they're already on the public
{{ end }}