{{ if .Values.comet.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: comet-env
data:
  CUSTOM_HEADER_HTML: Welcome, {{ .Release.Name }}, to your Comet instance!
  ZILEAN_URL: http://elfhosted-internal.zilean
  ADDON_ID: {{ .Release.Name }}-comet.{{ .Values.dns_domain }}
  ADDON_NAME: Comet | {{ .Release.Name }}
  SCRAPE_TORRENTIO: "True"
  MEDIAFUSION_URL: http://elfhosted-internal.mediafusion
  SCRAPE_MEDIAFUSION: "True"
  SCRAPE_ZILEAN: "True"
  SCRAPE_COMET: "True"
  COMET_URL: http://elfhosted-internal.comet
  REMOVE_ADULT_CONTENT: "true"
  DOWNLOAD_TORRENTS: "false"
  DEBRID_PROXY_URL: http://vpnproxy:8888
  {{ if .Values.stremthru.enabled }}
  STREMTHRU_URL: http://stremthru:8080
  {{ else }}
  STREMTHRU_URL: http://elfhosted-internal.stremthru
  {{ end }}
{{ end }}