{{ if .Values.mediafusion.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: mediafusion-env
data:
  HOST_URL: https://{{ .Release.Name }}-mediafusion.{{ .Values.dns_domain }}
  ENABLE_RATE_LIMIT: "false"
  PROWLARR_IMMEDIATE_MAX_PROCESS: "3"
  PROWLARR_SEARCH_INTERVAL_HOUR: "24"
  PROWLARR_URL: http://prowlarr.mediafusion:9696
  IS_SCRAP_FROM_TORRENTIO: "true"
  TORRENTIO_URL: https://torrentio.strem.fun # we only do this on private instances
  REDIS_URL: redis://redis-master.mediafusion:6379
  prowlarr_immediate_max_process_time: "0"
  validate_m3u8_urls_liveness: "true"
  disable_all_scheduler: "true"
  poster_host_url: https://mediafusion.{{ .Values.dns_domain }}
{{ end }}