{{ if .Values.mylar.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: config-mylar-ssd
  annotations:
    helm.sh/resource-policy: keep
spec:
{{- $pvc := (lookup "v1" "PersistentVolumeClaim" .Release.Namespace "config-mylar-ssd" ) }}
  {{- if and (not $pvc) (.Values.location.enabled) }}
  dataSourceRef:
    kind: ReplicationDestination
    apiGroup: volsync.backube
    name: rd-config-mylar-ssd
  {{- end }}
  accessModes:
  - {{ .Values.storageclass.rwx.accessMode }}
  resources:
    requests:
      storage: 1Gi
  storageClassName: {{ .Values.storageclass.rwx.name }}
{{ end }}