{{ if or .Values.prowlarr.enabled .Values.prowlarrplus.enabled .Values.prowlarrhobbit.enabled  }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: config-prowlarr-ssd
  annotations:
    helm.sh/resource-policy: delete
spec:
{{- $pvc := (lookup "v1" "PersistentVolumeClaim" .Release.Namespace "config-prowlarr-ssd" ) }}
  {{- if and (not $pvc) (.Values.location.enabled) }}
  dataSourceRef:
    kind: ReplicationDestination
    apiGroup: volsync.backube
    name: rd-config-prowlarr-ssd
  {{- end }}
  accessModes:
  - {{ .Values.storageclass.rwx.accessMode }}
  resources:
    requests:
      storage: 2Gi
  storageClassName: {{ .Values.storageclass.rwx.name }}
{{ end }}