{{ if .Values.pyload.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: config-pyload-ssd
  annotations:
    helm.sh/resource-policy: keep
spec:
  accessModes:
  - {{ .Values.storageclass.rwx.accessMode }}
  resources:
    requests:
      storage: 10Mi
  storageClassName: {{ .Values.storageclass.rwx.name }}
{{ end }}