apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: symlinks-block-ssd
  annotations:
    helm.sh/resource-policy: keep
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: ceph-block-ssd
