{{ if .Values.rclonemountrealdebridzurg.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-realdebrid-zurg
  namespace: csi-rclone
type: Opaque
stringData:
  remote: zurg-{{ .Release.Name }}
  remotePath: # intentionally left blank, webdav doesn't need it
  allow-non-empty: "true"
  allow-other: "true"
  attr-timeout: 3600m
  uid: "568"
  gid: "568" 
  vfs-cache-mode: full
  vfs-cache-max-age: 720h
  vfs-cache-max-size: 20G
  vfs-cache-poll-interval: 30s
  async-read: "true"
  vfs-read-ahead: 64M
  vfs-read-chunk-size: 1M
  vfs-read-chunk-size-limit: 32M
  vfs-fast-fingerprint: "true"
  vfs-read-wait: 40ms
  no-modtime: "true"
  no-checksum: "true"
  poll-interval: 60s
  transfers: "40"
  checkers: "40"
  multi-thread-streams: "0"
  use-mmap: "true"
  buffer-size: 64M
  dir-cache-time: 60s
  contimeout: 10s
  timeout: 10s
  # different bw limits per bundle
  {{- if .Values.zurg.enabled }}
  bwlimit: 'off:20M'
  {{- else if .Values.zurghobbit.enabled }}
  bwlimit: 'off:30M'
  {{- else if  .Values.zurgranger.enabled }}
  bwlimit: 'off:60M'
  {{- end }}  
  configData: |
    [zurg-{{ .Release.Name }}]
    type = webdav
    {{ if .Values.decypharrreplacezurg.enabled }}
    url: http://decypharr.{{ .Release.Namespace }}.svc.cluster.local:8282/webdav/realdebrid/
    {{ else }}
    url: http://zurg.{{ .Release.Namespace }}.svc.cluster.local:9999/dav/
    {{ end }}
    vendor = other
    pacer_min_sleep = 0    
{{ end }}