{{ if or .Values.plexdebrid.enabled .Values.plexdebridhobbit.enabled .Values.plexdebridplus.enabled }}
{
  "kind": "SealedSecret",
  "apiVersion": "bitnami.com/v1alpha1",
  "metadata": {
    "name": "plex-debrid-env",
    "creationTimestamp": null,
    "annotations": {
      "sealedsecrets.bitnami.com/cluster-wide": "true"
    }
  },
  "spec": {
    "template": {
      "metadata": {
        "name": "plex-debrid-env",
        "creationTimestamp": null,
        "annotations": {
          "sealedsecrets.bitnami.com/cluster-wide": "true"
        }
      }
    },
    "encryptedData": {
      "CLIENT_ID": "AgBSkp3BBXAvwWGepPY41P5x50HGvHeEeNesk7MNr7Ryw+N2cifoIe2LkLPTiEDb6MzLafmMwGtJrHV70DY1Bk8WDbCb/WhIEd9+EV2kiHkGi746vkPh9nVcaW4zE565boDPhZ/FZZae8CH9aTIvUTxwPfGPJRncP6HqxCkKMOB6X5jMu3EBXEz2OPNq31Z8DYGNMTemXdEEGd416B9+iIHf9ah0sgumHGGq1FRzqhFcGMEuM2uHFbNesT7lEVZkKX+4XtNQEBH/fAGn5sATtNJY5k1ilzMDDsKhj4GqCzHU1Y3jWNmsZWP7euq6X6JOzCwJ5qvhTLuA7OBACmqUk1engFFRc28Z5jreU+SBU9b9NoOLNu5rSTXsFw929EHwSoHHouC+Lm1R9Je+uNTlkdY6wm6I2a0e12IP5vSYNmhAwjTIF7EMbwGuDQRdRLyqXzvPQnHXzsvmE5kL4O1rvHsktGREqaPBbFO0ipVBZ2T8rPZK5VM8jJ84zBPoU15MFgsMCkxRO/UsxTqhZg1pyrudRJfOMFbVcL52MR5+JyuzQ1fgTKl42isnAtCwZDmopzHQagwfnb/mIbWy+X4+2X5F1B2WwHH7r6RNJctSQQbUZDgzli1vbK1u6bx/qmptx/REA6zZ0yFPJInGLVJAchVSmrTRQIX03ZR15enPoWSwH4D8MKfjlYnH3I9Bm6soMUgSA/E2u5vgEl+0+m5QEyz42bxtoBHKZB5kaCQnuEs4XDXjQaUr+Xt3FEVpM230kzexlKYWELuGoYU4ggZvtfeZ",
      "CLIENT_SECRET": "AgBPDDFUst9gavmtLUJy6HWocZ5a1mgQSCcTttNvxpibrGMvFTY2mQOCs0LNv38ZqU7+Z1EBs1JCfrAGuyxEYPOoZCOZXIhQOzqGB5/VYI/HNKkECC6uXdnYBqcA/ikF61Ku69f3gikqeUcRFRpOHxsWHocy/nf2Za91Rc0n+k95xHP/80uliZHDjx3BSTzFmPgHcgTNZIuK0Ux0lsFRUDPrNzmjufcqfLEDos7OPwK0G2M48Tld3xs8YzvI0aLaJFyHa3uDu2YEThXjQK953wjHqiYgB1a93tc/njn4zxTqJBzEh4HdgJmXstDO10oWb44PiKFoZWlWbDojWb4c65cSHBV0MA41iyn1DY0qNcbUm9khJrLFkS577hPBVOzx+9bkySeWHXzmLOlHheNLwYVzmfYO+cL8sRHThAxNcfq65uQKJrsGSfnUkRm05MrWDEyjr+aHZFmimWjcbr8d6mpdTXpBXlun0M0yVkfWoB+VzBSm1CqOSemlPmRZVVKwzxfN/BRbeyS6JaSesHDnKsGl0Tp22S3POn3/I4q8tu6tp/JM7RwnIj0q/LM+rD9gedbFes2oTjfjt1xY1XIhZQnbKGdizVUolR2fT3hQt6PUkPQn02kbltr/t7N9ljfhFRxJVxDdNDVljAEw0l7xhNz6M22tXGjjKmeGFuxUCFQ5ck0GFApyQRcDYYjukxLtOaagQmlEEnwOY+R3boXDcf/tYzEMtBXyNylvEXxBPUrPwZAH8ORFaJfCGYjLx01A5Se4gEAhBA7Rs6LAvQ35cjGX"
    }
  }
}
{{ end }}