{{ if .Values.rclonemounttorbox.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: torbox
  labels:
    velero.io/exclude-from-backup: "true"  
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: rclone
  selector:
    matchLabels:
      name: rclone-{{ .Release.Name }}-torbox
{{ end }}