{{ if .Values.mattermost.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: config-mattermost
  annotations:
    helm.sh/resource-policy: keep
spec:
  accessModes:
  - {{ .Values.storageclass.rwx.accessMode }}
  resources:
    requests:
      storage: 1Gi
  storageClassName: {{ .Values.storageclass.rwx.name }}
{{ end }}