{{- if .Values.mediafusion.enabled }}
apiVersion: "cilium.io/v2"
kind: CiliumNetworkPolicy
metadata:
  name: "permit-mediafusion-egress-tailscale"
spec:
  endpointSelector:
    matchLabels:
      app.elfhosted.com/name: mediafusion
  egress:
  - toEndpoints:
    - matchLabels:
        k8s:io.kubernetes.pod.namespace: tailscale
    toPorts:
      - ports:
        - port: '27017' # mongo
          protocol: TCP
      - ports:
        - port: '6379' # redis
          protocol: TCP
{{- end }}