apiVersion: "cilium.io/v2"
kind: CiliumNetworkPolicy
metadata:
  name: "permit-any-egress-mediafusion"
spec:
  endpointSelector: {}
  egress:
  - toEndpoints:
    - matchLabels:
        app.kubernetes.io/name: mediafusion
        k8s:io.kubernetes.pod.namespace: mediafusion
    toPorts:
      - ports:
        - port: '8000'
          protocol: TCP